*{
	font-family: Muli;
	background-color: #00BEE4;
	color:#ffffff;
}
#top_container{
	 width: 100%;
	 box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
            font-size: 28px;
            padding-bottom: 10px;
        }

        .main-nav {
            list-style-type: none;
            display: none;
        }

        .nav-links,
        .logo {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

        #logo{
        	width:100px;
            height:100px;
            margin-top: 10px;
            margin-left: 10px;
        }
        .navbar-toggle {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        .active {
            display: block;
        }

        @media screen and (min-width: 768px) {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-links {
                margin-left: 40px;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }
        }

#top_gen_spacer{
	display: flex;
	height:50px;
}

#GenandMS{
	display: flex;
	max-width: 100%;
	justify-content: center;
	height: 200px;
	
}

#Gen{
	display: flex;
/*	border-style: solid;
	border-width: 2px;
	border-color: #808080;*/
	max-width: 100%;
	height:200px;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: column;

}

#Create_Musaic{
	height: 26.25%;
	width:40%;
	border-style: none;
	background-color: #ffffff;
	color:#00BEE4;
	font-weight: bold;
	font-size: 20px;
	-webkit-box-shadow: 0 9px 8px -4px white;
	   -moz-box-shadow: 0 9px 8px -4px white;
	        box-shadow: 0 9px 8px -4px white;
}

#MS {
	display: flex;
/*	border-style: solid;
	border-width: 2px;
	border-color: #808080;*/
	max-width: 100%;
	height:200px;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	align-items: center;
	flex-direction: column;
	/*margin: auto;*/
    text-align: center; 

}

#MS_Text{
	  margin:0px;
	  font-size: 20px;
}

#GenandMS_Gallery_spacer{
	display: flex;
	height:100px;
}

#Gallery_Container{
	display: flex;
	width: 100%;
	height: 500px;
	align-items: center;
	flex-direction: column;
}

#Gallery_Head{
	display: flex;
	/*border-style: solid;
	border-width: 1px;
	border-color: #808080;*/
	width:100px;
	height:50px;
	justify-content: center;
	align-items: center;
}

#Gallery{
	/*border-style: solid;
	border-width: 2px;
	border-color: #808080;*/
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#Gallery_Col1{
	display: flex;
	width: 100%;
	height: 500px;
	align-items: center;
	flex-direction: column;
	flex:initial;
	margin:10px;
	flex-grow: 1;
	flex-basis: 0;
}

#Gallery_Col2{
	display: flex;
	width: 100%;
	height: 500px;
	align-items: center;
	flex-direction: column;
	flex:initial;
	justify-content: space-between;
	margin:10px;
	flex-grow: 1;
	flex-basis: 0;
}

.Gallery_Boxes{
	display: flex;
	border-style: solid;
	border-width: 2px;
	border-color: #808080;
	width:1000%
	/*width:50%;
	height:300px;*/
	justify-content: center;
	align-items: center;
	margin:10px;
}



