extends layout

block headContent
  link(rel='stylesheet', href='/css/Musaic_About_CSS.css')

block bodyContent
  #ps_container
    #ps_div
      #col
        #vizandinstr
          #viz
            img(src='/images/About.JPG')
            p Eric and Ram
          #instruction
            h1(style='margin: 0px 0px 10px;') About The Creators
            p(style='font-size: 20px; margin: 0px;width: 75%')
              | Musaic was created by Ram Goli and Eric Siegel. We are both fourth year students at UCLA, with Ram studying Computer Science and Eric studying Cognitive Science. We met playing ultimate frisbee and have been bros since. Peep the story of how Musaic came to be here.


