extends layout

block headContent
  link(rel='stylesheet', href='/stylesheets/Musaic_Confirm_Playlist_CSS.css')

block content
    #tc_ps_spacer
    #ps_container
      #playlist_image
        img(src=imageUrl)
      p#playlist_name #{name}
      button(type='submit', form='nameform', value='Submit') Generate Musaic
