extends layout

block headContent
  link(rel='stylesheet', href='/css/Musaic_Confirm_Playlist_CSS.css')
  script(src="/javascripts/aws-sdk-2.644.0.min.js")

block bodyContent  
  #result_container
    #result
      // INSERT IMG HERE
      h1 #{name}
    #buttons
      form#generate_photo_form
        button#generate_musaic(type="submit") Generate Musaic

  script(src="/javascripts/generate.js")
