extends layout

block headContent
  link(rel='stylesheet', href='/css/Musaic_Confirm_Playlist_CSS.css')

block bodyContent  
  #result_container
    #result
      img(src=imageUrl)
      h2 #{name}
    #buttons
      form#generate_photo_form
        button#generate_musaic(type="submit") Generate Musaic

  script(src="/javascripts/generate.js")
