extends layout.pug

block head
  link(rel='stylesheet' href='Musaic_Confirm_Playlist_CSS.css')

block content    
	#result_container
  		#result
    		// INSERT IMG HERE
	#buttons
  		#generate_musaic Generate Musaic
