extends layout

block headContent
  link(rel='stylesheet', href='/css/Musaic_Confirm_Playlist_CSS.css')

block bodyContent  
  #result_container
    #result
      // INSERT IMG HERE
      h1 #{name}
    #buttons
      #generate_musaic Generate Musaic
