doctype html
html
  head
    meta(charset='UTF-8')
    title Musaic
    link(rel='stylesheet', href='/stylesheets/Musaic_Sign_In_CSS.css')
  body
    #top_container
      nav.navbar
        span#js-navbar-toggle.navbar-toggle
          i.fas.fa-bars
        a.logo(href='#') logo
        ul#js-menu.main-nav
          li
            a.nav-links(href='#') Home
          li
            a.nav-links(href='#') About
          li
            a.nav-links(href='#') Blog
          li
            a.nav-links(href='#') Contact
    #tc_ps_spacer
    #ps_container
      #ps_div
        #col
          #vizandinstr
            #viz
              p Visualization
            #instruction
              p Instructions
          #spotify
            p Spotify

