extends layout.pug

block css
  link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Muli')
  link(rel='stylesheet' href='Musaic_Homepage_CSS.css')

block content
  #GenandMS
    img#center_logobw(src='logobw.png')
    button#Create_Musaic Create Musaic
  #MS
    h1 Misson
    p#MS_Text
      | The 
      span(style='color:#00BEE4') goal
      |  of this website is to allow users to 
      span(style='color:#00BEE4') create
      |  a meaningful 
      span(style='color:#00BEE4') art
      |  piece 
      br
      |             that displays their 
      span(style='color:#00BEE4') musical
      |  tastes through a personal 
      span(style='color:#00BEE4') mosaic
      | .
  #GenandMS_Gallery_spacer
  #Gallery_Container
    #Gallery_Head
      h1 Gallery
    #Gallery
      #Gallery_Col1
        .Gallery_Boxes
          p Gallery 1
        .Gallery_Boxes
          p Gallery 3
        .Gallery_Boxes
          p Gallery 5
      #Gallery_Col1
        .Gallery_Boxes
          p Gallery 2
        .Gallery_Boxes
