extends layout

block headContent
  link(rel='stylesheet' href='/css/Musaic_Homepage_CSS.css')

block bodyContent
  #showcase
    #showcase_photo
      img(src='/images/showcase.png')
    #GenandMS
      img#center_logobw(src='/images/logobw.png')
      buttons#Create_Musaic(href='/uploadphoto')
        a(href='/uploadphoto') Create Musaic
      p WITH
      img#spotify_logo(src='/images/spotify_logo.png')
  #MS
    h2 What is a Musaic?
    p#MS_Text <em>A meaningful 
      span(style='color:#00BEE4') art
      |  piece
      |  that displays your 
      span(style='color:#00BEE4') musical
      |  tastes through a personal 
      span(style='color:#00BEE4') mosaic
      | .</em>
  #howitworks
    h2 How It Works
    #steps
      .step_box
        img(src='/images/steps1.png')
        p Upload Your Photo
      .step_box
        img(src='/images/steps2.png')
        p
          | Select Your 
          br
          |  Spotify Playlist
      .step_box
        img(src='/images/steps3.png')
        p
          | Download and Share 
          br
          |       Your Musaic
  #Gallery_Container
    h2 Gallery
    #Gallery
      p
        | This Gallery is going to host some of our favorite Musaic pieces and we want YOU to send us your Musaic pieces! 
        br
        br
        a(href='mailto:musaic.contact@gmail.com') Email
        |  us your downloaded Musaic!

