extends layout

block headContent
  link(rel='stylesheet' href='/css/Musaic_Homepage_CSS.css')

block bodyContent
  #GenandMS
    img#center_logobw(src='/images/logobw.png')
    a(href="/uploadphoto")
      button#Create_Musaic Create Musaic
    p WITH
    img#spotify_logo(src='/images/spotify_logo.png')

  #MS
    h1 Misson
    p#MS_Text
      | The 
      span(style='color:#00BEE4') goal
      |  of this website is to allow users to 
      span(style='color:#00BEE4') create
      |  a meaningful 
      span(style='color:#00BEE4') art
      |  piece 
      |that displays their 
      span(style='color:#00BEE4') musical
      |  tastes through a personal 
      span(style='color:#00BEE4') mosaic
      | .
  #GenandMS_Gallery_spacer
  #Gallery_Container
    #Gallery_Head
      h1 Gallery
    p
      | This Gallery is going to host some of our favorite Musaic pieces and we want YOU to send us your Musaic pieces!
      br
      br
      |       Email us the downloaded image and a display name (or social media handle).
    #Gallery
      #Gallery_Col1
        .Gallery_Boxes
          img(src='/images/question_mark.png')
        .Gallery_Boxes
          img(src='/images/question_mark.png')
        .Gallery_Boxes
          img(src='/images/question_mark.png')
      #Gallery_Col1
        .Gallery_Boxes
          img(src='/images/question_mark.png')
        .Gallery_Boxes
          img(src='/images/question_mark.png')
        .Gallery_Boxes
          img(src='/images/question_mark.png')


