doctype html
head
  meta(charset='UTF-8')
  title Musaic
  link(rel='stylesheet' href='Musaic_Homepage_CSS.css')
  link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Muli')
  script(src='navbar.js')
#top_container
  nav.flexmenu
    .flex
      img#logo(src='bluenotelogo.png')
      .menu
        a(href='#') Home
      .menu
        a(href='#') About
      .menu
        a(href='#') Contact
      .mobile-menu
        span.menu-icon.open &equiv;
        span.menu-icon.close &#x2715;