doctype html
head
  meta(charset='UTF-8')
  title Musaic
  script(src='navbar.js')
  block css
#top_container
  nav.flexmenu
    .flex
      img#logo(src='bluenotelogo.png')
      .menu
        a(href='#') Home
      .menu
        a(href='#') About
      .menu
        a(href='#') Contact
      .mobile-menu
        span.menu-icon.open &equiv;
        span.menu-icon.close &#x2715;
