extends layout

block headContent
	link(rel='stylesheet', href='/css/Musaic_Loading_CSS.css')

block bodyContent
	#stage
		img.bounce-2(src='/images/logobw.png')
		p LOADING
	script(src="https://sdk.amazonaws.com/js/aws-sdk-2.620.0.min.js")
	script(src="/javascripts/checkGenerated.js")


