extends layout

block headContent
  link(rel='stylesheet', href='/css/Musaic_Playlist_Selection_CSS.css')

block bodyContent
  #ps_container
    #ps_div
      #col
        #vizandinstr
          #viz
            img(src='/images/Select_Playlist_Icon.png')
          #instruction
            h2(style='margin: 0px 0px 10px;') Select Playlist
            p(style='font-size: 20px; margin: 0px;')
              | From the playlist you select,
              | we will take the album covers
              | from the different songs and
              | use them as the &ldquo;tiles&rdquo;
              | of your Musaic.
              | The more variation of color in your playlist
              | album covers, the cooler your Musaic will be!
  #Gallery_Container
    h2#Your_Playlists(style='text-align: center;') Your Playlists
    #Gallery
      -
      each playlist in playlists
        #playlist_container
          a(href=`/confirmplaylist/${playlist.id}`)
            img(src=playlist.images[0] ? playlist.images[0].url : "https://img.icons8.com/dotty/80/000000/cat-profile.png")
            p #{playlist.name}

