doctype html
head
  meta(charset='UTF-8')
  title Musaic
  link(rel='stylesheet' href='Musaic_Results_CSS.css')
  link(rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Muli')
  script(src='navbar.js')
#top_container
  nav.flexmenu
    .flex
      img#logo(src='bluenotelogo.png')
      .menu
        a(href='#') Home
      .menu
        a(href='#') About
      .menu
        a(href='#') Contact
      .mobile-menu
        span.menu-icon.open &equiv;
        span.menu-icon.close &#x2715;
#result_container
  h1 Your Musaic
  #result
    // INSERT IMG HERE
#albums_used
  h1 Album Covers Used
  #cover_display
    .Gallery_Boxes
      p Album 1
    .Gallery_Boxes
      p Album 2
    .Gallery_Boxes
      p Album 3
    .Gallery_Boxes
      p Album 4
  #cover_display
    .Gallery_Boxes
      p Album 5
    .Gallery_Boxes
      p Album 6
    .Gallery_Boxes
      p Album 7
    .Gallery_Boxes
      p Album 8
#buttons
  #download Download
#share_container
  h1 Share
  #social_media
    img(src='facebook_icon.png')
    img(src='instagram_icon.png')
    img(src='twitter_icon.png')
