extends layout

block headContent
  link(rel='stylesheet', href='/css/Musaic_Results_CSS.css')
  link(rel='stylesheet', href='/css/drift-basic.min.css')

block bodyContent
  #result_container
    h2 Your Musaic
    #img-and-legend
      #result-with-zoom
        img#result-img
      #legend
        p#hover Hover over the image to zoom in!
        #result-zoom
    #buttons
      #download Download
  script(src='/javascripts/Drift.js')
  script(src='/javascripts/loadResult.js')

