extends layout

block headContent
  link(rel='stylesheet', href='/css/Musaic_Results_CSS.css')
  link(rel='stylesheet', href='/css/drift-basic.min.css')

block bodyContent
  #result_container
    h2 Your Musaic
    #img-and-legend
      #result-with-zoom
        img#result-img
        span Hover over the image to zoom in!
      #legend
        #albums-and-header
          span#legend_text Top albums used in Musaic:
          #result-zoom
    #buttons
      #download Download
  script(src='/javascripts/Drift.js')
  script(src='/javascripts/loadResult.js')

