extends layout

block headContent
  link(rel='stylesheet', href='/css/Musaic_Results_CSS.css')

block bodyContent
  #result_container
    h1 Your Musaic
    #result
      // INSERT IMG HERE
  #buttons
    #download Download
    
  script(src='/javascripts/loadResult.js')

