doctype html
html
  head
    meta(charset='UTF-8')
    title Musaic
    link(rel='stylesheet', href='/stylesheets/Musaic_Results_CSS.css')
  body
    #top_container
      nav.navbar
        span#js-navbar-toggle.navbar-toggle
          i.fas.fa-bars
        a.logo(href='#') logo
        ul#js-menu.main-nav
          li
            a.nav-links(href='#') Home
          li
            a.nav-links(href='#') About
          li
            a.nav-links(href='#') Blog
          li
            a.nav-links(href='#') Contact
    #tc_ps_spacer
    #result_container
      #result
        // INSERT IMG HERE
    #buttons
      #post
        p Post
      #download
        p Download
    #share_container
      p#share Share
      #social_media
        img(src='facebook_icon.png')
        img(src='instagram_icon.png')
        img(src='twitter_icon.png')

