extends layout

block headContent
  link(rel='stylesheet', href='/css/Musaic_Upload_Photo_CSS.css')

block bodyContent
  #ps_container
    #ps_div
      #col
        #vizandinstr
          #viz
            img(src='images/Upload_Photo_Icon.png')
          #instruction
            h2(style='margin: 0px 0px 10px;') Upload Photo
            p(style='font-size: 20px; margin: 0px;width: 63%')
              | We take the album cover images
              | from your playlists and
              | we render your photo
              | using the album cover images as tiles
            p(style='font-size: 25px;')  Please upload a jpeg or png file
        form#upload_photo_form
          input(type='file' name='files[]' accept='image/png, image/jpeg')
          input(type='submit' value='Submit' name='submit')
  #good_photos
    h2(style='text-align: center;')
      | Can&rsquo;t find a personal photo?&#x2028;
      br
      |     Try these!
    #good_photos_row
      .Gallery_Boxes
        img(src='images/stocks/one.jpeg')
      .Gallery_Boxes
        img(src='images/stocks/two.jpeg')
      .Gallery_Boxes
        img(src='images/stocks/three.jpeg')
  script(src='/javascripts/ImageTools.js')
  script(src='/javascripts/upload.js')
