extends layout.pug

block head
  link(rel='stylesheet' href='Musaic_Upload_Photo_CSS.css')

block content
#ps_container
  #ps_div
    #col
      #vizandinstr
        #viz
          img(src='Upload_Photo_Icon.png')
        #instruction
          h1(style='margin: 0px 0px 10px;') Upload Photo
          p(style='font-size: 20px; margin: 0px;')
            | We take the cover images 
            br
            |                     from you playlists and 
            br
            |                     we render your photo
            br
            |                     using the cover images
      button#upload_photo Upload Photo
#good_photos
  h1(style='text-align: center;')
    | Can&rsquo;t find a personal photo?&#x2028;
    br
    |     Try these!
  #good_photos_row
    .Gallery_Boxes
      p Gallery 1
    .Gallery_Boxes
      p Gallery 3
    .Gallery_Boxes
      p Gallery 5
