*{
	font-family: Muli;
	background-color: #373737;
	color:#ffffff;
  	box-sizing: border-box;
}
#top_container{
	width: 100%;
	/*height:200px;*/
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 900px) { 
	#top_container{
		margin-bottom: 50px;
	}
}

.flexmenu {
  width: 100%;
  background-color: #000;
  color: #fff;
  line-height: 1.8em;
  align-items: center;
  flex-flow: row;
}
.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#logo{
  display: flex;
  width:250px;
  /*height:50%;
  margin-top: 10px;*/
  margin-left: 10px;
  align-items: flex-start;
  margin-left: 0;
  margin-right: auto;
 cursor: pointer;
 }

.menu {
  display: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 24px;
  line-height: 2em;
}
.menu:first-child {
  display: inline-flex;
  justify-content: left;
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  margin: 0 5px;
}
.menu a {
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
}

.mobile-menu {
  display: flex;
  position: absolute;
  right: 50px;
  top: 5px;
  width: 12px;
  margin-left: auto;
  margin-right: 0;
}
.menu-icon {
  display: flex;
  font-size: 400%;
  cursor: pointer;
}

.close{
	display: flex;
	font-size: 275%;
}

.hide {
  display: none;
}
.show {
  display: flex;
}

@media screen and (min-width: 900px) { 
  .mobile-menu {
    display: none;
  }
  .flex {
    flex-direction: row;
  }
  .menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 10vw;
  }
}


#showcase{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-shrink: 1;
}

#showcase_photo{
	display: flex;
	max-width: 90%;
	align-items: center;
	
}

#showcase_photo img{
	width: 100%;
	padding:50px;
}

#GenandMS{
	display: flex;
	max-width: 40%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#GenandMS p{
	font-size: 100%;
}

#spotify_logo{
	width:40%;
}

#center_logobw{
	width: 308px;
  	/*margin-top: -130px;*/
  	margin-bottom: -10px;
  }

 #Create_Musaic{
	display: flex;
	width:201px;
	height:63px;
	border-style: none;
	background-color: #00BEE4;
	font-size: 120%;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	cursor: pointer;

 -webkit-box-shadow: rgba(0, 190, 228) 0 3px 4px;
  -moz-box-shadow: rgba(0, 190, 228) 0 3px 4px;
  box-shadow: rgba(0, 190, 228) 0 3px 4px;
}

#Create_Musaic a{
	display: flex;
	text-decoration: none;
	border-style: none;
	background-color: #00BEE4;
	font-size: 120%;
	font-weight: bold;
	justify-content: center;
	align-items: center;

 -webkit-box-shadow: rgba(0, 190, 228) 0 3px 4px;
  -moz-box-shadow: rgba(0, 190, 228) 0 3px 4px;
  box-shadow: rgba(0, 190, 228) 0 3px 4px;
}

 @media screen and (max-width: 900px) { 
 	#showcase{
 		flex-direction: column;
 		align-items: center;
 	}
 	#showcase img{
 		padding:0px;
 		margin-bottom: 50px;
 	}
 	#center_logobw{
 		display: none;
 	}
 	#Create_Musaic{
 		width:60%;
 		padding: 10px;
		font-size:120%;
 	}
 	#spotify_logo{
		width:50%;
	}
 	#logo{
 		width: 205px;
 	}
 }

 @media screen and (max-width: 750px) { 
 	#Create_Musaic{
 		/*width:80%;*/
		font-size:100%;
 	}
 	#spotify_logo{
		width:70%;
	}
 }

@media screen and (max-width: 650px) { 
	#Create_Musaic a{
		font-size: 100%;
	}
}
 @media screen and (max-width: 550px) { 
 	#Create_Musaic{
 		width:80%;
		font-size:100%;
 	}
 	#spotify_logo{
		width:70%;
	}
 }
  @media screen and (max-width: 500px) { 
 	#Create_Musaic{
 		width:100%;
		font-size:120%;
 	}
 	#spotify_logo{
		width:90%;
	}
 }

@media screen and (max-width: 400px) { 
	#Create_Musaic{
		width: 100%;
	}
	#Create_Musaic a{
		font-size: 12px;
	}
}

@media screen and (max-width: 700px){
	#logo{
		/*width:30%;*/
  		height:20%;
	}
}



#MS {
	display: flex;
	max-width: 100%;
	margin-top: 50px;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	align-items: center;
	flex-direction: column;
    text-align: center; 

}

#MS_Text{
	  margin:0px;
	  font-size: 20px;
	  width: 500px;
}

@media screen and (max-width: 900px) { 
	#MS {
		margin-top: 0px;
	}
	#MS_Text{
		width:90%;
	}
}

#howitworks {
	display: flex;
	max-width: 100%;
	margin-top: 50px;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	align-items: center;
	flex-direction: column;
    text-align: center; 
    margin-bottom: 50px;

}

#steps{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	width: 90%;
}

.step_box{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    font-size: 18px;
}

.step_box img{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75%;
}

.step_box p{
	font-size: 20px;
}

@media screen and (max-width: 900px) { 
 	#steps{
 		flex-direction: column;
 	}
 }

@media screen and (max-width: 600px) { 
 	.step_box img{
 		width: 50%;
 	}
 }

#GenandMS_Gallery_spacer{
	display: flex;
	height:50px;
}

#Gallery{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#Gallery_Container{
	display: flex;
	max-width: 100%;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-basis: 0;
	align-items: center;
	flex-direction: column;
    text-align: center; 
    margin-bottom: 50px;
}

#Gallery_Container p{
	margin:0px;
	  font-size: 20px;
	  width: 500px;
}

@media screen and (max-width: 900px) { 
	#Gallery_Container p{
		width:90%;
		/*font-size: 140%;*/
	}
}


#Gallery_Container a:link{
  color:white;
  font-weight: bold;
  text-decoration:underline;
}

#Gallery_Container a:visited{
  color:white;
  text-decoration:none;
}

#Gallery_Container a:hover{
  color:#808080;
  text-decoration: none;
}

#Gallery_Container a:active{
  color:green;
  text-decoration: none;
}