*{
  font-family: Muli;
  background-color: #373737;
  color:#ffffff;
    box-sizing: border-box;
}
#top_container{
  width: 100%;
  /*height:200px;*/
  box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.flexmenu {
  width: 100%;
  background-color: #000;
  color: #fff;
  line-height: 1.8em;
  align-items: center;
  flex-flow: row;
}
.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#logo{
  display: flex;
  width:25%;
  height:50%;
  /*margin-top: 10px;*/
  margin-left: 10px;
  align-items: flex-start;
  margin-left: 0;
  margin-right: auto;
 cursor: pointer;
 }

.menu {
  display: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 24px;
  line-height: 2em;
}
.menu:first-child {
  display: inline-flex;
  justify-content: left;
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  margin: 0 5px;
}
.menu a {
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
}

.mobile-menu {
  display: flex;
  position: absolute;
  right: 50px;
  top: 5px;
  width: 12px;
  margin-left: auto;
  margin-right: 0;
}
.menu-icon {
  display: flex;
  font-size: 400%;
  cursor: pointer;
}

.close{
  display: flex;
  font-size: 275%;
}

.hide {
  display: none;
}
.show {
  display: flex;
}

@media screen and (min-width: 900px) { 
  .mobile-menu {
    display: none;
  }
  .flex {
    flex-direction: row;
  }
  .menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 10vw;
  }
}

 @media screen and (max-width: 900px) { 
    #logo{
        width: 205px;
    }
}

@media screen and (max-width: 700px){
    #logo{
        /*width:30%;*/
        height:20%;
    }
}


#stage {
      display: flex;
      height: 330px;
      width: 100%;
      margin-top: 175px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 35px;
      font-weight: bold;
    }
    #stage img{
        animation-duration: 2s;
        animation-iteration-count: infinite;
        width:350px;
    }
    .bounce-2 {
        animation-name: bounce-2;
        animation-timing-function: ease;
    }
    @keyframes bounce-2 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-100px); }
        100% { transform: translateY(0); }
    }

#stage p{
  display: flex;
  margin-top: --5px;
  text-align: center;
}

#wait{
  display: flex;
  align-items: center;
  justify-content: center;
  width:50%;
  font-size: 24px;
}





