*{
  font-family: Muli;
  background-color: #373737;
  color:#ffffff;
    box-sizing: border-box;
}
#top_container{
  width: 100%;
  /*height:200px;*/
  box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.flexmenu {
  width: 100%;
  background-color: #000;
  color: #fff;
  line-height: 1.8em;
  align-items: center;
  flex-flow: row;
}
.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#logo{
  display: flex;
  width:250px;
  /*height:50%;
  margin-top: 10px;*/
  margin-left: 10px;
  align-items: flex-start;
  margin-left: 0;
  margin-right: auto;
 cursor: pointer;
 }

.menu {
  display: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 24px;
  line-height: 2em;
}
.menu:first-child {
  display: inline-flex;
  justify-content: left;
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  margin: 0 5px;
}
.menu a {
  justify-content: space-between;
  color: #fff;
  text-decoration: none;
}

.mobile-menu {
  display: flex;
  position: absolute;
  right: 50px;
  top: 5px;
  width: 12px;
  margin-left: auto;
  margin-right: 0;
}
.menu-icon {
  display: flex;
  font-size: 400%;
  cursor: pointer;
}

.close{
  display: flex;
  font-size: 275%;
}

.hide {
  display: none;
}
.show {
  display: flex;
}

@media screen and (min-width: 900px) { 
  .mobile-menu {
    display: none;
  }
  .flex {
    flex-direction: row;
  }
  .menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 10vw;
  }
}


 @media screen and (max-width: 900px) { 
    #logo{
        width: 205px;
    }
}

@media screen and (max-width: 700px){
    #logo{
        /*width:30%;*/
        height:20%;
    }
}




#ps_container{
    display: flex;
    /*border-style: solid;
    border-width: 2px;
    border-color: #808080;*/
    border-style: none;
    justify-content: center;
}

#ps_div{
    display: flex;
    width: 80%;
    border-style: none;
    align-items: center;
    justify-content:  center;
}


#col{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    flex:initial;
    margin:10px;
}


#vizandinstr{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

#viz{
    display: flex;
    /*border-style: solid;
    border-width: 2px;
    border-color: #808080;*/
    border-style: none;
    width: 50%;
    justify-content: center;
    align-items: center;

}

#instruction{
    display: flex;
    /*border-style: solid;
    border-width: 2px;
    border-color: #808080;*/
    border-style: none;
    width: 315px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

}


#upload_photo_form{
  display: flex;
  flex-direction: row;
  width:200px;
  border-style: none;
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
  align-items: space-between;

}


input {
  margin: 40px;
  font-size: 18px;
}


input[type=submit]:hover {
    cursor: pointer;
    background-color: #00BEE4;
    border-style: solid;
    border-width: 0.5px;
    border-color: #00BEE4;
    -webkit-box-shadow: rgba(0, 190, 228) 0 3px 4px;
    -moz-box-shadow: rgba(0, 190, 228) 0 3px 4px;
    box-shadow: rgba(0, 190, 228) 0 3px 4px;
}


@media only screen and (max-width: 900px) { 
    #col{
        flex-direction:column;
        align-items: center;
    }
    #viz{
        margin-bottom:30px;
    }

    #viz img{
        width:200px;
    }
    #instruction{
      margin-top: 50px;
    }

    #vizandinstr{
        flex-direction:column;
        align-items: center;
    }
    #upload_photo_form{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 700px){
  input[type=file]{
      width:200px;
      color: white;
      background-color: #00BEE4;
      cursor: pointer;
    }

}

@media only screen and (max-width: 600px) { 
    #col{
        flex-direction:column;
        align-items: center;
    }
    #viz img{
        width:160px;
    }
    #vizandinstr{
        flex-direction:column;
        align-items: center;
    }

}

#good_photos{
    display: flex;
    flex-direction: column;
  /*  border-style: solid;
    border-width: 2px;
    border-color: red;*/
    justify-content: center;
    align-items: center;
}

#good_photos_row{
    display: flex;
    /*border-style: solid;
    border-width: 2px;
    border-color: red;*/
    width: 90%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.Gallery_Boxes{
    display: flex;
    /*border-style: solid;
    border-width: 2px;
    border-color: red;*/
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 0px 2.5%;
    cursor:pointer;
}

.Gallery_Boxes img{
   width: 100%;
}

@media only screen and (max-width: 900px) { 
    #good_photos_row{
        flex-direction: column;
    }
}
